<!DOCTYPE html>
<html lang="tr">
@await Component.InvokeAsync("Head")
<body>
    @await Component.InvokeAsync("Header")
    @await Component.InvokeAsync("WelcomeArea")
    @await Component.InvokeAsync("About")
    @await Component.InvokeAsync("Education")
    @await Component.InvokeAsync("Skills")
    @await Component.InvokeAsync("Experience")
@*     @await Component.InvokeAsync("Profiles")
    @await Component.InvokeAsync("Portfolio")
    @await Component.InvokeAsync("Clients") *@
    @await Component.InvokeAsync("Contact")
    @await Component.InvokeAsync("Footer")
    @await Component.InvokeAsync("Scripts")
</body>
</html>