@using MyPortfolio.Application.Features.Commands.AboutCommands.CreateAbout
@model CreateAboutCommandRequest

@{
    ViewData["Title"] = "New About";
}

<div class="col-12">
    <div class="bg-secondary rounded p-4">
        <h6 class="mb-4">Hakkımda Ekle</h6>

        <form asp-action="Create" enctype="multipart/form-data" method="post">

            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" />
                <label asp-for="Name">Ad</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Field" class="form-control" />
                <label asp-for="Field">Alan</label>
                <span asp-validation-for="Field" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Title" class="form-control" />
                <label asp-for="Title">Başlık</label>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <textarea asp-for="Description"
                          class="form-control"
                          style="height: 150px"></textarea>
                <label asp-for="Description">Açıklama</label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ImagePath" class="form-label">Görsel Yükle: </label>
                <input asp-for="ImagePath" name="file" class="form-control bg-dark" type="file" id="formFile">
            </div>

            <button type="submit" class="btn btn-outline-success m-2">Kaydet</button>
            <a asp-action="Index" class="btn btn-outline-light m-2">Geri Dön</a>

        </form>
    </div>
</div>

