@model UserResetPasswordVM
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Sifre Sifirla";
}
<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                <div class="d-flex align-items-center justify-content-center mb-3">
                    <h3 class="text-primary">
                        <i class="fa fa-user-edit me-2"></i>DarkPan
                    </h3>
                </div>
                <form asp-action="ResetPassword" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="UserId" />
                    <input type="hidden" asp-for="Token" />
                    <div class="form-floating mb-4">
                        <input asp-for="NewPassword" type="password" class="form-control" id="floatingPassword">
                        <label asp-for="NewPassword" for="floatingPassword">Yeni Şifre</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input asp-for="ConfirmPassword" type="password" class="form-control" id="floatingPassword">
                        <label asp-for="ConfirmPassword" for="floatingPassword">Yeni Şifre (Tekrar)</label>
                    </div>
                    <div class="text-danger">
                        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <p>@error.ErrorMessage</p>
                        }
                    </div>
                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>
