<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <a asp-area="Dashboard" asp-controller="Home" asp-action="Index" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkPan</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="~/dashboard/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Jhon Doe</h6>
                <span>Admin</span>
            </div>
        </div>
@*         <div class="navbar-nav w-100">
            <a asp-area="Dashboard" asp-controller="Home" asp-action="Index" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <a asp-area="Dashboard" asp-controller="Skill" asp-action="Index" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Beceriler</a>
            <a asp-area="Dashboard" asp-controller="About" asp-action="Index" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Hakkımda</a>
            <a asp-area="Dashboard" asp-controller="Contact" asp-action="Index" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Beceriler</a>
            <a asp-area="Dashboard" asp-controller="WelcomeArea" asp-action="Index" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Beceriler</a>
            <a asp-area="Dashboard" asp-controller="SocialMediaAccount" asp-action="Index" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Beceriler</a>
            <a asp-area="Dashboard" asp-controller="Experience" asp-action="Index" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Beceriler</a>
            <a asp-area="Dashboard" asp-controller="Education" asp-action="Index" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Beceriler</a>
        </div> *@
        <div class="navbar-nav w-100">

            <a asp-area="Dashboard" asp-controller="Home" asp-action="Index"
               class="nav-item nav-link">
                <i class="fa fa-home me-2"></i>Dashboard
            </a>

            <a asp-area="Dashboard" asp-controller="Skill" asp-action="Index"
               class="nav-item nav-link">
                <i class="fa fa-code me-2"></i>Beceriler
            </a>

            <a asp-area="Dashboard" asp-controller="About" asp-action="Index"
               class="nav-item nav-link">
                <i class="fa fa-user me-2"></i>Hakkımda
            </a>

            <a asp-area="Dashboard" asp-controller="Contact" asp-action="Index"
               class="nav-item nav-link">
                <i class="fa fa-envelope me-2"></i>İletişim
            </a>

            <a asp-area="Dashboard" asp-controller="WelcomeArea" asp-action="Index"
               class="nav-item nav-link">
                <i class="fa fa-image me-2"></i>Karşılama Alanı
            </a>

            <a asp-area="Dashboard" asp-controller="SocialMediaAccount" asp-action="Index"
               class="nav-item nav-link">
                <i class="fa fa-link me-2"></i>Sosyal Medya
            </a>

            <a asp-area="Dashboard" asp-controller="Experience" asp-action="Index"
               class="nav-item nav-link">
                <i class="fa fa-briefcase me-2"></i>Deneyim
            </a>

            <a asp-area="Dashboard" asp-controller="Education" asp-action="Index"
               class="nav-item nav-link">
                <i class="fa fa-graduation-cap me-2"></i>Eğitim
            </a>

        </div>
    </nav>
</div>
