<header class="top-area">
    <div class="header-area">
        <nav class="navbar navbar-default bootsnav navbar-fixed dark no-background">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" asp-action="Index">browny</a>
                </div>
                <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class=" smooth-menu active"></li>
                        <li class=" smooth-menu"><a href="#education">eğitim</a></li>
                        <li class="smooth-menu"><a href="#skills">beceriler</a></li>
                        <li class="smooth-menu"><a href="#experience">deneyim</a></li>
                        <li class="smooth-menu"><a href="#profiles">profil</a></li>
                        <li class="smooth-menu"><a href="#portfolio">portföy</a></li>
                        <li class="smooth-menu"><a href="#clients">müşteriler</a></li>
                        <li class="smooth-menu"><a href="#contact">iletişim</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="clearfix"></div>

</header>
