@using MyPortfolio.Application.Features.Commands.SocialMediaAccountCommands.CreateSocialMediaAccount
@model CreateSocialMediaAccountCommandRequest

@{
    ViewData["Title"] = "Yeni Sosyal Medya Hesabı Ekle";
}

<div class="col-sm-12 col-xl-6">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Yeni Sosyal Medya Hesabı Ekle</h6>

        <form asp-action="Create" method="post">

            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control"  />
                <label asp-for="Name">Hesap Adı</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Url" class="form-control"  />
                <label asp-for="Url">Url</label>
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="IconCode" class="form-control"  />
                <label asp-for="IconCode">Icon Kodu</label>
                <span asp-validation-for="IconCode" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-outline-success m-2">Kaydet</button>
            <a asp-action="Index" class="btn btn-outline-light m-2">Geri Dön</a>

        </form>
    </div>
</div>